* {
	box-sizing: border-box;
	font-family: sans-serif;
	font-optical-sizing: auto;
	font-style: normal;

	outline: none !important;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	min-height: 100%;
	width: 100%;
	max-width: 100%;
	overflow-y: auto;
	margin: 0;
	padding: 0;
	background-color: #eef0f0/*#e9e9ea*/;
}

body#prof {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: #f2f2f2;
}


a {
	text-decoration: none;
	color: #333;
}

ul {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	padding: 0;
	margin: 0;
}


.BrandBtn {
  background-color: #f00;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px auto;
  display: block;
  width: 100%;
  max-width: 250px;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px  rgb(160, 159, 159);
}

.BrandBtn:hover {
  background-color: #d00;
}

.BrandBtn.Icon {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.BrandBtn.Icon img {
  width: 20px;
  height: 20px;
}

.BrandBtn.Google {
  background-color: #ffffff;
  color: #4e4d4d;
  font-size: 16px;
}