/* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body.Login {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: rgb(82,13,13);
background: linear-gradient(90deg, rgba(82,13,13,1) 0%, rgba(255,0,0,1) 100%);
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
}

.nav-links li {
  display: inline-block;
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  color: #333;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f00;
}


/* LoginCont section */
.LoginCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.LoginCont form {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.LoginCont h2 {
  margin-bottom: 20px;
  color: white;
  font-size: 24px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: inline-block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input {
  display: block;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc; /* add a border */
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

form input[type="checkbox"]{
  width: auto;
  margin: 14px 10px 0px 47px;  /* edit the position of the checkbox */
  display: inline-block;
 cursor:pointer;
 transform: scale(1.55); /* change size of the checkbox button */

}

form input[type="checkbox"]:checked{
  accent-color: #f00;             /* change color when the button is checked */
}







form .g-LoginCont{
/*   padding: 10px 20px;
      border-radius: 5px;
  margin: 15px 18px auto; */
  box-sizing: border-box;
  display: block;
  


}



#gbutton .abcRioButtonLightBlue {
  background-color: #ffffff;
  color: #565656;
  width: 100% !important;
  max-width: 250px;
  border-radius: 5px;
}

form .signup {
  margin-top: 20px;
  font-size: 14px;
  color: #333;
  text-align: center;
  display: flex; /* add display flex to align items vertically */
  align-items: center;
  justify-content: center;
}

form .signup span {
  margin-right: 5px; /* add margin to the right side */
}

form .signup a {
  color: #f00;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

form .signup a:hover {
  color: #d00;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}
