nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
  .logo{
    margin-right: 18px;
  }
  .logo a {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-links li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  .nav-links a {
    color: #333;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #f00;
  }
  
  .nav-links li#cart img {
    padding-top: 2px;
    object-fit: contain;
  }
  
  li#cart span.qty {
    color: white;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    top: 9.1px;
    right: 14.2px;
    font-weight: bolder;
    height: 18px;
    width: 17px;
    text-align: center;
    font-size: 13px;
  }

  .nav-links li#cart button{
    border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    display: inline-block;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }
  
  .dropdown-toggle:hover {
    color: #f00;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #333;
    padding: 10px;
    min-width: 160px;
    max-width: 200px;
    z-index: 1;
  
    
  }
  
  @-moz-document url-prefix() {
    .dropdown-menu {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  
  
  
  
  .dropdown-menu li {
    display: block;
  }
  
  .dropdown-menu a {
    display: block;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dropdown-menu a:hover {
    background-color: #f00;
    color: #fff;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }